{% extends "../base.html" %}


{% block head_title %}
	<title>Edit requestRequest</title>
{% endblock %}

{% block body_block %}
		<div class="row">
			<div class="col">
				<h2 class="title-1">Edit request</h2>
			</div>
		</div>


				<div class="au-card" style="min-height: 250px;">

					<div class="row">
						<div class="col-10">
								<form id="editForm" action="{% url 'requests:edit' id=id %}" method="post">
									{% csrf_token %}
									{% if req.request_type == 'SC' %}

										<div class="input-container">
											<i class="fas fa-calendar icon"></i>
											<select id="schedule" name="schedule" class="selectpicker" multiple data-actions-box="true" title="What days are now required?" data-width="100%" required>
												<option value="MO" {% if schedule.monday_start %}selected{% endif %}> Monday </option>
												<option value="TU" {% if schedule.tuesday_start %}selected{% endif %}> Tuesday </option>
												<option value="WE" {% if schedule.wednesday_start %}selected{% endif %}> Wednesday </option>
												<option value="TH" {% if schedule.thursday_start %}selected{% endif %}> Thursday </option>
												<option value="FR" {% if schedule.friday_start %}selected{% endif %}> Friday </option>
											</select>
										</div>

										<div class="input-container m-t-20">
											<i class="fas fa-clock icon"></i>
											<input id="starttime" class="form-control input-field timepicker" name="start_time" placeholder="Select a delivery time" required autocomplete="off">
										</div>

									{% else %}

										<div id="text-change-div">
											<div class="form-group">
												<p> Please describe what kind of change you would like to make </p>
												<textarea id="request_text" name="request_change" rows="8" cols="80" placeholder="I want to ..." style="border: 1px solid #ddd;"></textarea>
											</div>
										</div>

									{% endif %}

									<br>
									<br>
									<br>
									<button type="submit" class="btn btn-primary">Save Request</button>
								</form>
								</div>
						</div>
					</div>
				</div>

{% endblock %}



{% block javascript_block %}

	<script type="text/javascript">
		$('.timepicker').timepicker({
					timeFormat: 'h:mm p',
					interval: 60,
					minTime: '7:00am',
					maxTime: '6:00pm',
					dynamic: false,
					dropdown: true,
					scrollbar: true,
					zindex: 1060
			});

			var req_message = "";
			var time = null;
			{% if schedule.monday_start %}time='{{schedule.monday_start}}'{% endif %}
			{% if schedule.tuesday_start %}time='{{schedule.tuesday_start}}'{% endif %}
			{% if schedule.wednesday_start %}time='{{schedule.wednesday_start}}'{% endif %}
			{% if schedule.thursday_start %}time='{{schedule.thursday_start}}'{% endif %}
			{% if schedule.friday_start %}time='{{schedule.friday_start}}'{% endif %}
			{% if schedule.saturday_start %}time='{{schedule.saturday_start}}'{% endif %}
			{% if schedule.sunday_start %}time='{{schedule.sunday_start}}'{% endif %}

			{% if req.request_change %}req_message='{{ req.request_change }}'{% endif %}
			$('#request_text').attr("placeholder", req_message);
            $('#starttime').val(time)
				{% if review.status == 'P' %}
				$("input, select").prop("disabled", true);
				{% endif %}

	</script>

{% endblock %}
